<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="FinancieraBD" connectionString="metadata=res://*/ModeloFinancieraIndependiente.csdl|res://*/ModeloFinancieraIndependiente.ssdl|res://*/ModeloFinancieraIndependiente.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-H4AE1QJ9;initial catalog=FinancieraBD;persist security info=True;user id=TesterFinancieraIndependiente;password=testerfinancierapassword;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="configuracionBindingNet" receiveTimeout="00:10:00" sendTimeout="00:00:30" maxBufferPoolSize="5242880" maxBufferSize="5242880" maxReceivedMessageSize="5242880">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="ServidorFinancieraIndependiente.ServiciosFinancieraIndependiente">
        <endpoint address="ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="configuracionBindingNet" contract="ServidorFinancieraIndependiente.IPoliticaOtorgamiento" />
		<endpoint address="ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="configuracionBindingNet" contract="ServidorFinancieraIndependiente.IUsuario" />
		<endpoint address="ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="configuracionBindingNet" contract="ServidorFinancieraIndependiente.ITipoUsuario" />
	    <endpoint address="ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="configuracionBindingNet" contract="ServidorFinancieraIndependiente.IReferenciaTrabajo" />
		<endpoint address="ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="configuracionBindingNet" contract="ServidorFinancieraIndependiente.ICliente" />
		  <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082" />
            <add baseAddress="net.tcp://localhost:8081/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>